<!-- Linking to font used for tagline -->

<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">


<!-- Wrapper containing our tagline and embedded code for vimeo. -->
<div class="vid-wrapper">
  <iframe src="https://player.vimeo.com/video/25850891?autoplay=1&loop=1&background=1" frameborder="0" allowfullscreen  allow="autoplay">
  </iframe>
  	<p class="tag-line"> Come Sail With Us </p>
</div>