// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jobs-wrapper {
  width: 60%;
  margin: 0 auto;
}

.job-listing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2rem;
}

.job-descrip {
  grid-column: 1 / 3;
}

.job-basic-info {
  div a {
    text-decoration: none;
    color: red;
  }

  div a:hover {
    font-weight: 600;
  }
}
