// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Index
.jobs-wrapper {
  width: 51.5%;
  margin: 0 auto;
  margin-bottom: 4.5rem;
}

.job-listing {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.25fr;
  grid-gap: 2rem;
  padding: 30px 45px;
  border-radius: 5px;
  border: 1px solid;
}

.job-descrip {
  grid-column: 1 / 4;
}

.job-basic-info {
  div a {
    text-decoration: none;
    color: red;
  }

  div a:hover {
    font-weight: 600;
  }
}

.new-job-wrapper{
  display: grid;
  grid-template-columns: .3fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 2fr .5fr;
  height: 60vh;
  width: 30vw;
  grid-column-gap: 1%;
  margin: 0 auto;
  margin-top: 4%;
}

.new-job-wrapper textarea{
  height: 100%;
}

.new-job-title{
  text-align: center;
  margin-top: 3%;
}

.show-form-wrapper-long{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr .5fr;
  grid-template-columns: .3fr 1fr;
  width: 35%;
  margin: 0 auto;
  margin-top: 5%;
}

.show-form-wrapper-long textarea{
  height: 100%;
  width: 100%;
}

.show-form-wrapper-long input{
  width: 100%;
}

.show-form-wrapper-long select{
  width: 100%;
}

.show-form-wrapper-short{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 2fr .5fr;
  grid-template-columns: .3fr 1fr;
  width: 35%;
  margin: 0 auto;
  margin-top: 5%;
}

.show-form-wrapper-short textarea{
  height: 100%;
  width: 100%;
}

.show-form-wrapper-short input{
  width: 100%;
}

.show-form-wrapper-short select{
  width: 100%;
}

.job-show-wrapper{
  width: 50%;
  margin: 0 auto;
  margin-top: 5%;
}

.job-edit-title{
  text-align: center;
}
